{% extends "base.html" %}

{% block title %} Data {% endblock %}

{% block content %}
    <table class="table" border="1px" style="border-collapse: collapse;">
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
