{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content%}
<style>
    .edit-form {
    max-width: 500px;
    margin: 0 auto;
}

.edit-form form {
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form label {
    display: block;
    margin-bottom: 8px;
}

.edit-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.edit-form input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.edit-form input[type="radio"] {
    margin-right: 5px;
}

.edit-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-form input[type="submit"]:hover {
    background-color: #45a049;
}


</style>
<div class="edit-form">
    <form action="/validate" method="post">
        <label for="uname"> Name: </label>
        <input type="text" name="uname" value="{{data[1]}}"> <br>
        
        <label for="uid"> Employee Id: </label>
        <input type="text" name="uid" value="{{data[0]}}"> <br>
        
        <label for="dob"> Date of Birth: </label>
        <input type="date" name="dob" value="{{data[2]}}"> <br>
        
        <label for="gender"> Gender: </label>
        <select name="gender">
            <option value="M">Male</option>
            <option value="F" >Female</option>
        </select>

        <label for="addr">Address: </label>
        <input type="text" name="addr" value="{{data[4]}}"> <br>

        <label for="contact"> Contact: </label>
        <input type="tel" name="contact" value="{{data[5]}}"> <br>
        
        <label for="mail"> Email: </label>
        <input type="email" name="mail" value="{{data[6]}}"> <br>
        
        <label for="jdate"> Joining Date: </label>
        <input type="date" name="jdate" value="{{data[7]}}"> <br>
        
        <label for="dept">Department: </label>
        <input type="text" name="dept" value="{{data[8]}}"> <br>
    
        <label for="jid"> Job Id: </label>
        <input type="text" name="jid" value="{{data[9]}}"> <br>
    
        <input type="submit" value="save changes">
    
    </form>
</div>

{% endblock %}